Flask==2.1.2
requests==2.28.1
ptvsd==4.3.2 # Required for debugging.
Flask_WTF==1.0.1
protobuf==4.21.12
SQLAlchemy==2.0.1
WTForms==3.0.1
cloud-sql-python-connector==1.1.0
google-cloud-storage==2.7.0
sqlalchemy-pytds==0.3.4
python-tds==1.11.0
email-validator==1.2.1